user-level {
    width: 10%;
    height: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 0;
    padding: 5% 0;
    border-radius: 50%;
    background: darkgrey;

    position: absolute;
    top: 5px;
    right: 5px;
}
