page-are-you-ready {

    .option-button {
        width: 40%;
        background: rgba(72, 138, 255, 0.75);
        border-radius: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;

        img {
            padding: 20%;
        }
    }

    .yes-option {
        background: lawngreen;
    }
    .no-option {
        background: red;
    }
}
