page-are-you-ready {

    .option-button {
        width: 40%;
        border-radius: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;

        p {
            padding: 20%;
            text-align: center;

        }
    }

    .yes-option {
        background: lawngreen;
    }
    .no-option {
        background: red;
    }
}
