page-shopping-cart {

    .content {
        background-image: url("../assets/imgs/background/shopping-cart.svg");
    }

    .item {
        background: lightskyblue;
        opacity: 0.85;
        border-radius: 10px;
    }

    .item:nth-child(even) {
        background: dodgerblue;
    }

    h1, ion-label {
        font-weight: bold;
        font-family: 'Alegreya', serif;
        color: #BE1E3C;
        text-transform: capitalize;
        text-shadow: 0 1px 0 black;
    }

    h1 {
        font-size: 1.25em;
        text-transform: uppercase;
    }

    h1:first-letter {
        font-size: 1.25em;
    }

}
