page-shopping-cart {

    .content {
        background-image: url("../assets/imgs/background/shopping-cart.svg");
    }

    .item {
        background: dodgerblue;
        opacity: 0.85;
        border-radius: 10px;
    }

    .item + .item {
        margin-top: 5px;
    }

    h1, ion-label {
        //font-family: 'Alegreya', serif;
        color: white;
        text-transform: capitalize;
    }

    h1 {
        font-weight: bold;
        color: black;
        //text-shadow: 0 2px 0 grey;
        font-size: 1.25em;
        text-transform: uppercase;
    }

    h1:first-letter {
        font-size: 1.25em;
    }

}
