page-dessert {

    .cook {
        position: relative;
    }

    .cook::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../assets/imgs/background/cook.svg");
    }

    .dessert {
        background-image: url("../assets/imgs/background/dessert.svg");
        p {
            color: #14146E;
        }
    }

    p {
        background: rgba(72, 138, 255, 0.75);
        text-align: center;
        font-size: 1.25em;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Alegreya', serif;
        color: #004B00;
        text-shadow: 0 1px 0 black;
    }

    p:first-letter {
        font-size: 1.25em;
    }

    .not-available {
        background-color: grey;
        opacity: 0.65;
    }
}
