page-dessert {

    .cook {
        background-image: url("../../assets/imgs/background/cook.svg");
        color: #004B00;
    }

    .dessert {
        background-image: url("../../assets/imgs/background/dessert.svg");
        color: #14146E;
    }

    .item{
        opacity: 0.8;
    }

}
