page-recipe {
    //TODO extract menu is on menu page and recipe page
    .option {
        width: 40%;
        background: rgba(72, 138, 255, 0.75);
        border-radius: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .image {
        padding: 20%;
    }

    .celia {
        height: 60%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10%;
    }


}
