page-recipe {
    //TODO extract menu is on menu page and recipe page
    .option {
        width: 40%;
        background: white;
        border-radius: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .image {
        padding: 20%;
    }

}
