page-cooking {

    .content {
        background-image: url("../assets/imgs/background/cook.svg");
    }

    h1 {
        font-size: 1.25em;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Alegreya', serif;
        color: #BE1E3C;
        text-shadow: 0 1px 0 black;

    }

    h1:first-letter {
        font-size: 1.25em;
    }


}
